html{
    max-width: 400px;
    height: 100%;
    background-color: #E5E5E5;
}

body{
    width: 100%;
    height: 100%;
    max-width: 400px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header{
    background-color: #FFFFFF;
    width: inherit;
    max-width: inherit;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header div{
    width: 100%;
    margin: 16px 22px 11px 22px;
    display: flex;
    justify-content: space-between;
}

header ion-icon{
    font-size: 43px;
}

header img{
    width: 75px;
    height: 53px;
}

main{
    background-color: #E5E5E5;
    width: 100%;
    padding: 80px 0;
}

main ul {
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
}

li{
    padding: 15px 8px;
    background: #FFFFFF;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 20px;
}

li span:nth-child(2), li span:nth-child(3){
    font-weight: bold;
}

footer{
    background-color: #FFFFFF;
    width: inherit;
    max-width: inherit;
    height: 80px;
    position: fixed;
    display: flex;
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer input{
    border: none;
    height: 50%;
    width: 90%;
    padding: 0 0 0 17px;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}

footer ion-icon{
    font-size: 26px; 
    margin: 27px 18px 27px 0; 
}

footer p{
    padding: 0 0 0 17px; 
    text-align: start;
    font-size: 14px;
    font-weight: 300;
    color: #505050;
}

.right_side{
    position: fixed;
    top: 0;
    height: 100%;
    right: calc(100vw - 400px);
    max-width: 240px;
    width: 60%;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.right_side div{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
}

.right_side h1{
    margin: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.right_side h2{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    word-break: break-word;
}

.right_side ion-icon{
    font-size: 24px;
    width: 30px;
}

.right_side ul {
    width: 100%;
}

.right_side li{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

aside:nth-child(0) > h1 {
    display: none;
}

.left_side{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    max-width: 160px;
    width: 40%;
    background: rgba(0, 0, 0, 0.6);
}

#check{
    font-size: 14px;
    font-weight: bold;
    color: #28BB25;
}

::placeholder{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: italic;
}

.private_message{
    background: #FFDEDE;
}

.status{
    background: #DCDCDC;
}

.time{
    color: #AAAAAA;
    font-weight: 400;
}

.sidebar_on{
    display: flex;
}

.check_off{
    display: none;
}

.check_on{
    display: block;
}
